.fc-toolbar-title {
  font-size: 1.5rem !important;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem !important;
}
.fc-toolbar-chunk {
  button {
    padding: 0.25rem 0.5rem !important;
  }
  div {
    button {
      padding: 0.25rem 0.5rem !important;
    }
  }
}
