/*변수*/
$background-color: #ffffff;
// $foreground-color: rgba(248, 113, 113);
$foreground-color: #fbbf24;
$white-color: #ffffff;
$gray-color: #f8f8fa;
$bg-color: #fbf9f9; // f9fafb
// $bg-color: #fdfcfc;
// $fg-color: #fa5252;
$fg-color: #fbbf24;

/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$text-size-xs: 0.75rem;
$line-height-xs: 1rem;
$text-size-sm: 0.875rem;
$line-height-sm: 1.25rem;
$text-size-base: 1rem;
$line-height-base: 1.5rem;
$text-size-lg: 1.125rem;
$line-height-lg: 1.75rem;
$text-size-xl: 1.25rem;
$line-height-xl: 1.875rem;
$text-size-2xl: 1.5rem;
$line-height-2xl: 2rem;
