html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', Pretendard, -apple-system;
  font-weight: 400;
  // line-height: 1.6;
  // font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 0;
  padding: 0;
}
